# General
.DS_Store
*.log

# Node / Frontend
node_modules/
dist/
.next/
out/
build/
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python / Backend
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
# lib/ (Removed to allow frontend/src/lib)
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environment Variables
.env
